
*, *::before, *::after{box-sizing: border-box; font-family: 'playfair display', serif;}


body{
    background-image: url(images/quentin-dr-178888-unsplash.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif;
    
}

ul{
    list-style: none;
    color: white;
}

#navbar{
    display: grid;
    grid-template-columns:70% 1fr 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-right: 40px;
    justify-items: end;
    justify-self: end;
    padding: 0 0 10px 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,1);
    font-size: 16px;
    
    }


#navbar a{
    text-decoration: none;
    color: whitesmoke;
}

#navbar a:hover{
    color: rgb(158, 136, 65);
    
}

.front{
    color: antiquewhite;
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(6, auto-fill);
    grid-template-rows:  repeat(7, auto-fill);
    grid-gap: 10px;
    position: relative;
    top: 50px;
    /* column-gap: 50px 4/5;  */
    
}
.child{
    margin:0;
    text-align: center;
    /* background: pink; */

}
#eco{
    grid-row: 2/3;
    grid-column: span 2/3;
    font-size: 40px;
}
#dev{
    grid-column: span 2/5;
    grid-row: 3/4;
    font-size: 40px;
}
#philo{
    grid-column: span 2/4;
    grid-row: 4/5;
    font-size: 40px;
}
#nat{
    grid-column: span 2/7;
    grid-row: span 2 / 5;
    font-size: 80px;
    margin: 0;
    text-align: initial;
    text-justify: center;
    line-height: 1;
}
#nat h1{
    text-transform: capitalize;
}
/* #valle{
    grid-column: span 2/7;
    grid-row: span 2/ 6;
    font-size: 70px;
    text-align: initial;
    margin: 0;
} */
#black{
    background: rgb(8, 8, 8);
    position: relative;
    top:600px;
    height: 500px;
    padding: 80px 0 0 0;
}

/* PORTFOLIO */

.container-port{
    display: flex;
    justify-content: space-between;
    margin: 0 140px 0 140px;

}
 
.box{
height: 20vw;
width: 20vw;
background-image: url(images/Capture.PNG);
background-size: 100% 100%;
opacity: 0.5;
transition: opacity ease-out 250ms;
}

/* .box:hover::after{
    display: inline-block;
    content: '';
    height: 60px;
    width: 100%;
    top: 100px;
    background: red;
} */

.up {
    height: 6vw;
    width: 20vw;
    background: rgb(44, 52, 88);
    margin: 0;
    position: relative;
    animation-name: up;
    animation-duration: 250ms;
    top: 70%;
    opacity: 0;
    transition: opacity ease-out 500ms;
}
#up2, #up3{
    top:-30%;
}
.box:hover .up{
    opacity: 1;
}



.box-img{
    max-width: 100%;
    max-height: auto;
    display: block;
    opacity: 0.4;
    transition:opacity ease-out 500ms;
    
   }

.box-text{
    position:absolute;
    color: whitesmoke;
    opacity:0;
    transition: opacity ease-out 250ms;
    top: 55%;
    margin: 20px;
    z-index: 100;
}
    
.box:hover .box-text{
    opacity: 1;
}

.box:hover {
    opacity: 1;    
} 


/* #img-cool:hover{
    opacity: 1;

} */
 
/* #box::before,::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: transform ease-out 250ms;
    background: pink;
} */